/* Define a custom font called 'Meditative' */
@font-face {
  font-family: 'Meditative'; /* Name the font family */
  src: url(Meditative.ttf); /* Path to the font file */
}

/* Apply box-sizing, margin, padding, and font to all elements */
* {
  box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: 'Meditative'; /* Set default font to 'Meditative' */
}

/* Styling for the navbar container */
.navbar {
  background: #131313; /* Dark background color for the navbar */
  height: 80px; /* Set height of the navbar */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  font-size: 1.2rem; /* Set font size */
  position: sticky; /* Stick the navbar to the top of the viewport */
  top: 0; /* Align navbar to the top */
  z-index: 999; /* Ensure navbar is above other elements */
}

/* Container for navbar items */
.navbar__container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space items evenly */
  height: 80px; /* Match the height of the navbar */
  z-index: 1; /* Layering above other elements */
  width: 100%; /* Full width */
  max-width: 1300px; /* Maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 50px; /* Padding on left and right sides */
}

/* Styling for the logo link */
#navbar__logo {
  background-color: #4786ae; /* Background color of the logo text */
  background-image: linear-gradient(to top, #4786ae, #bcd2e0); /* Gradient background */
  background-size: 100%; /* Ensure gradient covers the text */
  -webkit-background-clip: text; /* Clip the background to the text */
  -moz-background-clip: text; /* Firefox-specific background clip for text */
  -webkit-text-fill-color: transparent; /* Make the text color transparent to show gradient */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  cursor: pointer; /* Change cursor to pointer on hover */
  text-decoration: none; /* Remove underline from the link */
  font-size: 2rem; /* Set font size */
  color: rgb(145, 185, 222); /* Default color for the text (not used due to transparency) */
}

/* Adjust the width and height of the SVG logo */
#navbar__logo svg {
  width: 80px; /* Adjust the width */
  height: auto; /* Maintain aspect ratio */
  rotate: 25deg;
}

/* Styling for the menu items */
.navbar__menu {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  list-style: none; /* Remove bullet points from list */
  text-align: center; /* Center text within menu items */
}

/* Styling for individual menu items */
.navbar__item {
  height: 80px; /* Match the height of the navbar */
}

/* Styling for links in the navbar */
.navbar__links {
  color: rgb(145, 185, 222); /* Link text color */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  text-decoration: none; /* Remove underline from links */
  padding: 0 1rem; /* Padding on left and right sides */
  height: 100%; /* Full height of the parent container */
}

/* Styling for buttons in the navbar */
.navbar__btn {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  text-decoration: none; /* Remove underline from links */
  padding: 0 1rem; /* Padding on left and right sides */
  width: 100%; /* Full width of the parent container */
}

/* Styling for the button */
.button {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  text-decoration: none; /* Remove underline from links */
  padding: 10px 20px; /* Padding around button text */
  height: 100%; /* Full height of the parent container */
  border: none; /* Remove border */
  outline: none; /* Remove outline */
  border-radius: 35px; /* Round the corners */
  background: rgb(145, 185, 222); /* Background color of the button */
  color: #fff; /* Text color of the button */
}

/* Styling for button hover state */
.button:hover {
  background: #8bb797; /* Change background color on hover */
  transition: all .1s ease; /* Smooth transition effect */
}

/* Styling for links in navbar hover state */
.navbar__links:hover {
  color: #8bb797; /* Change text color on hover */
  transition: all .1s ease; /* Smooth transition effect */
}

/* Responsive styles for screens with a max-width of 960px */
@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space items evenly */
    height: 80px; /* Match the height of the navbar */
    z-index: 1; /* Layering above other elements */
    width: 100%; /* Full width */
    max-width: 1300px; /* Maximum width of the container */
    padding: 0; /* Remove padding */
  }

  .navbar__menu {
    display: grid; /* Use grid layout for menu items */
    grid-template-columns: auto; /* Single column grid */
    margin: 0; /* Remove margin */
    width: 100%; /* Full width */
    position: absolute; /* Position absolutely */
    top: -1000px; /* Initially hide the menu off-screen */
    opacity: 0; /* Hide the menu initially */
    transition: all .4s ease; /* Smooth transition effect */
    height: 50vh; /* Height of the menu */
    z-index: -1; /* Layering below other elements */
    background: #131313; /* Background color of the menu */
  }

  /* Style for active state of the menu */
  .navbar__menu.active {
    background-color: #131313; /* Background color when menu is active */
    top: 100%; /* Move menu into view */
    opacity: 1; /* Show the menu */
    transition: all .4s ease; /* Smooth transition effect */
    height: 50vh; /* Height of the menu */
    font-size: 1.6rem; /* Increase font size */
  }

  /* Styling for the logo link in mobile view */
  #navbar__logo {
    padding-left: 25px; /* Add left padding */
  }

  /* Styling for the bars in the mobile menu toggle */
  .navbar__toggle .bar {
    width: 25px; /* Width of each bar */
    height: 3px; /* Height of each bar */
    margin: 5px auto; /* Margin around each bar */
    transition: all .3s ease-in-out; /* Smooth transition effect */
    background: #fff; /* Background color of the bars */
  }

  .navbar__item {
    width: 100%; /* Full width of the parent container */
  }

  /* Styling for links in mobile menu */
  .navbar__links {
    text-align: center; /* Center text within menu items */
    padding: 2rem; /* Padding around link text */
    width: 100%; /* Full width of the parent container */
    display: table; /* Display as table for alignment */
  }

  /* Positioning of the mobile menu toggle button */
  #mobile-menu {
    position: absolute; /* Position absolutely */
    top: 20%; /* Position from top */
    right: 5%; /* Position from right */
    transform: translate(5%,20%); /* Offset position */
  }

  .navbar__btn {
    padding: 2rem; /* Padding around button text */
  }

  /* Styling for the button in mobile view */
  .button {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    width: 80%; /* Set width */
    height: 80px; /* Set height */
    margin: 0; /* Remove margin */
  }

  /* Styling for the bars in the mobile menu toggle when active */
  .navbar__toggle .bar {
    display: block; /* Ensure bars are displayed */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  /* Style for active state of the mobile menu toggle */
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0; /* Hide the middle bar */
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg); /* Rotate the top bar */
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); /* Rotate the bottom bar */
  }
}
